.bordered {
  border: 1px solid black;
  border-collapse: collapse;
}
.margin-block {
  display: block;
  margin: 10px;
}
ab {
  background-color: #93a5f5;
  display: block;
  margin: 10px;
  width: 90%;
}
ab::before {
  content: "Anonymer Block [" attr(type) ", " attr(place) "]:\A";
}
