@import "../commons/colors.less";
@import "../commons/classes.less";

ab {
    background-color: @ab-background-color;
    .margin-block;
    width: 90%;
}

ab::before {
        content: "Anonymer Block [" attr(type) ", " attr(place) "]:\A";
}