@import "../commons/colors.less";
@import "../commons/classes.less";

app {
    display: inline;
    color: @apparatus-text-color;
    counter-increment: app-counter;
}

app::before {
    content: "app-";
    .additional-superscript;
}

app::after {
    content: "-app";
    .additional-superscript;
}