@import "../commons/classes.less";

author {
    display: block;
}

TEI[xml|lang = 'de'] author::before {
    content: "Autor: ";
    .additional-text;
}

TEI[xml|lang = 'fr'] author::before {
    content: "Auteur : ";
    .additional-text;
}