.bordered {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px;
}
.margin-block {
  display: block;
  margin: 10px;
}
.additional-text {
  font-style: italic;
}
.additional-heading {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
.smart-list-item {
  display: list-item;
  padding: 5px;
  margin-bottom: 5px;
}
back {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px;
  color: #000000;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 12px;
}
TEI[xml|lang="de"] back::before {
  content: "Kommentarbereich";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
TEI[xml|lang="fr"] back::before {
  content: "Zone des commentaires";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
