@import "../commons/classes.less";
@import "../commons/colors.less";
@import "../commons/sizes.less";

body {
    .bordered;
    color: @default-text-color;
    background-color: @body-background-color;
    margin-bottom: @larger-size;
    padding: @normal-size;
}

TEI[xml|lang = "de"] body::before {
    content: "Textbereich";
    .additional-heading;
}

TEI[xml|lang = "fr"] body::before {
    content: "Zone du texte";
    .additional-heading;
}