.bordered {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px;
}
.margin-block {
  display: block;
  margin: 10px;
}
.additional-text {
  font-style: italic;
}
.additional-heading {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
.smart-list-item {
  display: list-item;
  padding: 5px;
  margin-bottom: 5px;
}
body {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px;
  color: #000000;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 12px;
}
TEI[xml|lang="de"] body::before {
  content: "Textbereich";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
TEI[xml|lang="fr"] body::before {
  content: "Zone du texte";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
