cell {
  display: table-cell;
  min-width: 15%;
  max-width: 75%;
  padding: 6px;
  border-right: 1px solid black;
}
cell[role='label'] {
  font-weight: bold;
  font-size: 16px;
}
cell[rend='align-bottom'] {
  vertical-align: bottom;
}
cell::last-of-type {
  border-right: none;
}
