@import "../commons/classes.less";

condition {
    content: " (" attr(agent) ")";
    display: block;
}

TEI[xml|lang = "de"] condition::before {
    content: "Angaben zur Beschädigung";
    .additional-text;
}

TEI[xml|lang = "fr"] condition::before {
    content: "Informations sur les dommages";
    .additional-text;
}