@import "../commons/colors.less";
@import "../commons/classes.less";

date {
    color: @date-text-color;
}

publicationStmt date {
    color: @default-text-color;
    .margin-block();
}

TEI[xml|lang = 'de'] publicationStmt date[type = 'electronic'] {
    content: "Publikationsdatum (elektronisch): " attr(when-custom);
}

TEI[xml|lang = 'fr'] publicationStmt date[type = 'electronic'] {
    content: "Date de publication (électronique) : " attr(when-custom);
}

TEI[xml|lang = 'de'] publicationStmt date[type = 'print'] {
    content: "Publikationsdatum (Druck): " attr(when-custom);
}

TEI[xml|lang = 'fr'] publicationStmt date[type = 'print'] {
    content: "Date de publication (imprimé) : " attr(when-custom);
}