.bordered {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px;
}
.margin-block {
  display: block;
  margin: 10px;
}
.additional-text {
  font-style: italic;
}
.additional-heading {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
date {
  color: #ffa500;
}
publicationStmt date {
  color: #000000;
  display: block;
  margin: 10px;
}
TEI[xml|lang='de'] publicationStmt date[type='electronic'] {
  content: "Publikationsdatum (elektronisch): " attr(when-custom);
  font-style: italic;
}
TEI[xml|lang='fr'] publicationStmt date[type='electronic'] {
  content: "Date de publication (électronique) : " attr(when-custom);
  font-style: italic;
}
TEI[xml|lang='de'] publicationStmt date[type='print'] {
  content: "Publikationsdatum (Druck): " attr(when-custom);
  font-style: italic;
}
TEI[xml|lang='fr'] publicationStmt date[type='print'] {
  content: "Date de publication (imprimé) : " attr(when-custom);
  font-style: italic;
}
