@import "../commons/classes.less";

dimensions {
    .margin-block;
}

TEI[xml|lang = "de"] dimensions[type = "leaves"]:before {
    content: "Mass der Blätter: ";
    .additional-text;
}

TEI[xml|lang = "fr"] dimensions[type = "leaves"]:before {
    content: "Dimensions des feuilles : ";
    .additional-text;
}

TEI[xml|lang = "de"] dimensions[type = "plica"]:before {
    content: "Mass der Plica: ";
    .additional-text;
}

TEI[xml|lang = "fr"] dimensions[type = "plica"]:before {
    content: "Dimensions de la Plica : ";
    .additional-text;
}