.bordered {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px;
}
.margin-block {
  display: block;
  margin: 10px;
}
.additional-text {
  font-style: italic;
}
.additional-heading {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
.smart-list-item {
  display: list-item;
  padding: 5px;
  margin-bottom: 5px;
}
div {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px;
  display: block;
  margin: 10px;
  padding: 12px;
}
div[type]::before {
  content: "[div, " attr(type) "]";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
div[n]::before {
  content: "[div, " attr(n) "]";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
div[type][n]::before {
  content: "[div, " attr(type) ", " attr(n) "]";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
