.bordered {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px;
}
.margin-block {
  display: block;
  margin: 10px;
}
.additional-text {
  font-style: italic;
}
.additional-heading {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
.smart-list-item {
  display: list-item;
  padding: 5px;
  margin-bottom: 5px;
}
editiorialDecl {
  display: block;
  margin: 10px;
}
TEI[xml|lang="de"] editorialDecl::before {
  content: "Angaben zu den Editionsrichtlinien";
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
TEI[xml|lang="fr"] editorialDecl::before {
  content: "Informations sur les directives d'édition";
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
