@import "../commons/sizes.less";

head {
    display: block;
    font-size: @large-size;
    font-weight: bold;
}

head[resp]:before {
    content: "[";
}

head[resp]:after {
    content: "]";
}

table > head {
    display: table-caption;
}