head {
  display: block;
  font-size: 20px;
  font-weight: bold;
}
head[resp]::before {
  content: "[";
}
head[resp]::after {
  content: "]";
}
msDesc head {
  margin-bottom: 10px;
}
list head {
  margin-bottom: 5px;
}
table head {
  display: table-caption;
}
