head {
  display: block;
  font-size: 16px;
  font-weight: bold;
}
head[resp]:before {
  content: "[";
}
head[resp]:after {
  content: "]";
}
msDesc head {
  margin-bottom: 10px;
}
table > head {
  display: table-caption;
}
