.bordered {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px;
}
.margin-block {
  display: block;
  margin: 10px;
}
.additional-text {
  font-style: italic;
}
.additional-heading {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
idno {
  display: block;
  margin: 10px;
}
seriesStmt idno::before {
  content: "IDNO ";
  font-style: italic;
}
seriesStmt idno[type='uuid']::before {
  content: "IDNO (UUID) ";
  font-style: italic;
}
TEI[xml|lang='de'] msIdentifier idno::before {
  content: "Signatur: ";
  font-style: italic;
}
TEI[xml|lang='fr'] msIdentifier idno::before {
  content: "Signature : ";
  font-style: italic;
}
TEI[xml|lang='de'] altIdentifier idno::before {
  content: "Alternative Signatur: ";
  font-style: italic;
}
TEI[xml|lang='fr'] altIdentifier idno::before {
  content: "Signature alternative : ";
  font-style: italic;
}
