lb::before {
    content: "/\A";
}

lb[break = "no"]::before {
    content: "-/\A" !important;
}

head lb::before {
    content: " / ";
}

lb:first-of-type::before {
    content: oxy_xpath("if (string-join(preceding-sibling::text()) => normalize-space() => string-length() > 0) then '/\A' else ''");
}
