.bordered {
  border: 1px solid black;
  border-collapse: collapse;
}
.margin-block {
  display: block;
  margin: 10px;
}
licence {
  display: block;
  margin: 10px;
}
TEI[xml|lang='de'] licence:before {
  content: "Lizenz: ";
}
TEI[xml|lang='fr'] licence:before {
  content: "Licence : ";
}
