@import "../commons/colors.less";

measure {
    color: @measure-text-color;
}

measure::after {
    content: " (" attr("quantity") " " attr("unit") ", type: " attr("type") ")", 
}

measure[origin]::after {
    content: " (" attr("quantity") " " attr("unit") ", type: " attr("type") ", origin: "
 attr(origin) ")";
}

measure[commodity]::after {
    content: " (" attr("quantity") " " attr("unit") ", type: " attr("type") ", commodity: "
 attr(commodity) ")";
}

measure[origin][commodity]::after {
    content: " (" attr("quantity") " " attr("unit") ", type: " attr("type") ", origin: "
 attr(origin) ", commodity: " attr(commodity) ")";
}