.bordered {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px;
}
.margin-block {
  display: block;
  margin: 10px;
}
.additional-text {
  font-style: italic;
}
.additional-heading {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
msDesc {
  display: block;
  margin: 10px;
}
TEI[xml|lang='de'] msDesc::before {
  content: "Textzeugenbeschreibung";
  font-style: italic;
}
TEI[xml|lang='fr'] msDesc::before {
  content: "Description du témoin textuel";
  font-style: italic;
}
