@import "../commons/classes.less";
@import "../commons/colors.less";

orgName {
    color: @organisation-text-color;
}

orgName[ref]:hover::after {
    content: " (ID " attr(ref) ")";
}

origin orgName {
    .margin-block;
}

origin orgName:hover::before {
    content: "Organisation (" attr(ref) ") ";
    .additional-text;
}

origin orgName[role]:hover::before {
    content: "Organisation (" attr(ref) ") (" attr(role) ") ";
    .additional-text;
}