@import "../commons/classes.less";
@import "../commons/colors.less";

orgName {
    color: @orgName-text-color;
}

orgName[ref]::after {
    content: " (ID " attr(ref) ")";
}

origin orgName {
    .margin-block;
}

origin orgName::before {
    content: "Organisation (" attr(ref) ") ";
    .additional-text;
}

origin orgName[role]::before {
    content: "Organisation (" attr(ref) ") (" attr(role) ") ";
    .additional-text;
}