@import "../commons/classes.less";
@import "../commons/colors.less";

orgName {
    color: @orgName-text-color;
}

author orgName {
    color: @default-text-color;
}

origin orgName {
    color: @default-text-color;
    .margin-block;
}

origin orgName::before {
    content: "Organisation (" attr("ref") ") ";
    .additional-text;
}

origin orgName[role]::before {
    content: "Organisation (" attr("ref") ") (" attr("role") ") ";
    .additional-text;
}

respStmt orgName {
    color: @default-text-color;
}