.bordered {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 6px;
}
.margin-block {
  display: block;
  margin: 12px;
}
.additional-text {
  font-style: italic;
}
.additional-heading {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
.smart-list-item {
  display: list-item;
  padding: 6px;
}
/* background colors */
/* major blocks */
/* list items and table rows */
/* text colors */
/* entities */
/* semantically relevant content */
/* textcritical content */
/* other special parts of the text*/
orgName {
  color: #9400d3;
}
orgName[ref]:hover::after {
  content: " (ID " attr(ref) ")";
}
origin orgName {
  display: block;
  margin: 12px;
}
origin orgName:hover::before {
  content: "Organisation (" attr(ref) ") ";
  font-style: italic;
}
origin orgName[role]:hover::before {
  content: "Organisation (" attr(ref) ") (" attr(role) ") ";
  font-style: italic;
}
