.bordered {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 6px;
}
.margin-block {
  display: block;
  margin: 12px;
}
.additional-text {
  font-style: italic;
}
.additional-heading {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
.smart-list-item {
  display: list-item;
  padding: 6px;
}
orgName {
  color: #9400d3;
}
orgName[ref]::after {
  content: " (ID " attr("ref") ")";
}
origin orgName {
  display: block;
  margin: 12px;
}
origin orgName::before {
  content: "Organisation (" attr("ref") ") ";
  font-style: italic;
}
origin orgName[role]::before {
  content: "Organisation (" attr("ref") ") (" attr("role") ") ";
  font-style: italic;
}
