.bordered {
  border: 1px solid black;
  border-collapse: collapse;
}
.margin-block {
  display: block;
  margin: 10px;
}
publicationStmt {
  display: block;
  margin: 10px;
  border-bottom: 1px solid black;
}
TEI[xml|lang='de'] publicationStmt:before {
  content: "Angaben zur Veröffentlichung:";
}
TEI[xml|lang='fr'] publicationStmt:before {
  content: "Informations sur la publication :";
}
