/* background colors */
/* major blocks */
/* list items and table rows */
/* text colors */
/* entities */
/* semantically relevant content */
/* textcritical content */
/* other special parts of the text*/
q {
  color: #808000;
}
q::before {
  content: "«";
}
q::after {
  content: "»";
}
