@import "../commons/colors.less";

row {
    display: table-row;
}

row:has(> measureGrp) {
    display: table-row-group;
}

row:nth-of-type(even) {
    background-color: @row-even-background-color;
}

row:nth-of-type(odd) {
    background-color: @row-odd-background-color;
}