.bordered {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px;
}
.margin-block {
  display: block;
  margin: 10px;
}
.additional-text {
  font-style: italic;
}
.additional-heading {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
seal {
  display: block;
  margin: 10px;
}
TEI[xml|lang="de"] seal {
  content: attr("n") ": Erhaltungszustand (" attr("condition") "), Befestigung (" attr("attachment") "), " "Form (" attr("shape") "), Material (" attr("material") "), Ort (" attr("place") "), " "Faksimile (" attr("facs") ")";
  font-style: italic;
}
TEI[xml|lang="fr"] seal {
  content: attr("n") " : état de conservation (" attr("condition") "), fixation (" attr("attachment") "), " "forme (" attr("shape") "), matériau (" attr("material") "), lieux (" attr("place") "), " "facsimilé (" attr("facs") ")";
  font-style: italic;
}
