.bordered {
  border: 1px solid black;
  border-collapse: collapse;
}
.margin-block {
  display: block;
  margin: 10px;
}
seriesStmt {
  display: block;
  margin: 10px;
  border-bottom: 1px solid black;
}
TEI[xml|lang='de'] seriesStmt:before {
  content: "Angaben zur Reihe:";
}
TEI[xml|lang='fr'] seriesStmt:before {
  content: "Informations sur la série :";
}
