@import "../commons/classes.less";

seriesStmt {
    .margin-block;
    border-bottom: 1px solid black;
}

TEI[xml|lang = 'de'] seriesStmt:before {
    content: "Angaben zur Reihe";
    .additional-heading;
}

TEI[xml|lang = 'fr'] seriesStmt:before {
    content: "Informations sur la série";
    .additional-heading;
}