/* background colors */
/* major blocks */
/* list items and table rows */
/* text colors */
/* entities */
/* semantically relevant content */
/* textcritical content */
/* other special parts of the text*/
supplied {
  color: #ff0000;
}
supplied::before {
  color: #ff0000;
  content: "[";
}
supplied::after {
  color: #ff0000;
  content: "] ";
}
