@import "../commons/colors.less";

supplied {
    color: @supplied-text-color;
}

supplied::before {
    color: @supplied-text-color;
    content: "[";
}

supplied::after {
    color: @supplied-text-color;
    content: "] ";
}