.bordered {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 6px;
}
.margin-block {
  display: block;
  margin: 12px;
}
.additional-text {
  font-style: italic;
}
.additional-heading {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
.smart-list-item {
  display: list-item;
  padding: 6px;
}
/* background colors */
/* major blocks */
/* list items and table rows */
/* text colors */
/* entities */
/* semantically relevant content */
/* textcritical content */
/* other special parts of the text*/
term {
  color: #00ff00;
}
TEI[xml|lang="de"] term[ref^="key"]:hover::after {
  content: " (ID: " attr(ref) "; Standardname: " oxy_xpath("json-doc('https://staging.editio.ssrq-online.ch/api/v1/entities/keywords/' || substring(./@ref, 1, 9) || '/name?lang=de')") ")";
}
TEI[xml|lang="fr"] term[ref^="key"]:hover::after {
  content: " (ID : " attr(ref) "; Nom standard : " oxy_xpath("json-doc('https://staging.editio.ssrq-online.ch/api/v1/entities/keywords/' || substring(./@ref, 1, 9) || '/name?lang=fr')") ")";
}
TEI[xml|lang="de"] term[ref^="lem"]:hover::after {
  content: " (ID: " attr(ref) "; Standardname: " oxy_xpath("json-doc('https://staging.editio.ssrq-online.ch/api/v1/entities/lemmata/' || substring(./@ref, 1, 9) || '/name?lang=de')") ")";
}
TEI[xml|lang="fr"] term[ref^="lem"]:hover::after {
  content: " (ID : " attr(ref) "; Nom standard : " oxy_xpath("json-doc('https://staging.editio.ssrq-online.ch/api/v1/entities/lemmata/' || substring(./@ref, 1, 9) || '/name?lang=fr')") ")";
}
keywords term {
  display: list-item;
  padding: 6px;
}
keywords term:nth-of-type(even) {
  background-color: #92a8d1;
}
keywords term:nth-of-type(odd) {
  background-color: #f2f2f2;
}
