@import "../commons/classes.less";
@import "../commons/colors.less";

term {
    color: @term-text-color;
}

TEI[xml|lang = "de"] term[ref^="key"]:hover::after {
    // ToDo: Finale API-URL einfügen!
    content: " (ID: " attr(ref) "; Standardname: "
    oxy_xpath("json-doc('https://staging.editio.ssrq-online.ch/api/v1/entities/keywords/' || substring(./@ref, 1, 9) || '/name?lang=de')") ")";
    -oxy-link: "https://p.ssrq-sds-fds.ch/" oxy_xpath("substring(./@ref, 1, 9)");
}

TEI[xml|lang = "fr"] term[ref^="key"]:hover::after {
    // ToDo: Finale API-URL einfügen!
    content: " (ID : " attr(ref) "; Nom standard : "
    oxy_xpath("json-doc('https://staging.editio.ssrq-online.ch/api/v1/entities/keywords/' || substring(./@ref, 1, 9) || '/name?lang=fr')") ")";
    -oxy-link: "https://p.ssrq-sds-fds.ch/" oxy_xpath("substring(./@ref, 1, 9)");
}

TEI[xml|lang = "de"] term[ref^="lem"]:hover::after {
    // ToDo: Finale API-URL einfügen!
    content: " (ID: " attr(ref) "; Standardname: "
    oxy_xpath("json-doc('https://staging.editio.ssrq-online.ch/api/v1/entities/lemmata/' || substring(./@ref, 1, 9) || '/name?lang=de')") ")";
    -oxy-link: "https://p.ssrq-sds-fds.ch/" oxy_xpath("substring(./@ref, 1, 9)");
}

TEI[xml|lang = "fr"] term[ref^="lem"]:hover::after {
    // ToDo: Finale API-URL einfügen!
    content: " (ID : " attr(ref) "; Nom standard : "
    oxy_xpath("json-doc('https://staging.editio.ssrq-online.ch/api/v1/entities/lemmata/' || substring(./@ref, 1, 9) || '/name?lang=fr')") ")";
    -oxy-link: "https://p.ssrq-sds-fds.ch/" oxy_xpath("substring(./@ref, 1, 9)");
}

keywords term {
    .smart-list-item;
}

keywords term:nth-of-type(even) {
    background-color: @even-background-color;
}

keywords term:nth-of-type(odd) {
    background-color: @odd-background-color;
}