.bordered {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 6px;
}
.margin-block {
  display: block;
  margin: 12px;
}
.additional-text {
  font-style: italic;
}
.additional-heading {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
.smart-list-item {
  display: list-item;
  padding: 6px;
}
term {
  color: #ff0000;
}
term[ref]::after {
  content: " (ID " attr("ref") ")";
}
keywords term {
  display: list-item;
  padding: 6px;
}
keywords term:nth-of-type(even) {
  background-color: #92a8d1;
}
keywords term:nth-of-type(odd) {
  background-color: #f2f2f2;
}
