.bordered {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px;
}
.margin-block {
  display: block;
  margin: 10px;
}
.additional-text {
  font-style: italic;
}
.additional-heading {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
.smart-list-item {
  display: list-item;
  padding: 5px;
  margin-bottom: 5px;
}
textClass {
  display: block;
  margin: 10px;
}
TEI[xml|lang="de"] textClass::before {
  content: "Angaben zum Textprofil";
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
TEI[xml|lang="fr"] textClass::before {
  content: "Informations sur le profil du texte";
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
