@import "../commons/classes.less";

textLang {
    content: attr("xml|lang");
    display: block;
}

TEI[xml|lang = 'de'] textLang::before {
    content: "Sprache des Textes: ";
    .additional-text;
}

TEI[xml|lang = 'fr'] textLang::before {
    content: "Langue du texte : ";
    .additional-text;
}