.bordered {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px;
}
.margin-block {
  display: block;
  margin: 10px;
}
.additional-text {
  font-style: italic;
}
.additional-heading {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
titleStmt {
  display: block;
  margin: 10px;
  border-bottom: 1px solid black;
}
TEI[xml|lang='de'] titleStmt:before {
  content: "Angaben zum Band";
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
TEI[xml|lang='fr'] titleStmt:before {
  content: "Informations du volume";
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
