@import "../commons/classes.less";

titleStmt {
    .margin-block;
    border-bottom: 1px solid black;
}

TEI[xml|lang = 'de'] titleStmt::before {
    content: "Angaben zum Band";
    .additional-heading;
}

TEI[xml|lang = 'fr'] titleStmt::before {
    content: "Informations du volume";
    .additional-heading;
}