@import "sizes.less";

.bordered {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 5px;
}

.margin-block {
    display: block;
    margin: 10px;
}

.additional-text {
    font-style: italic;
}

.additional-heading {
    .additional-text;
    font-weight: bold;
    font-size: @larger-size;
}

.smart-list(@list-style-type: none) {
    .margin-block;
    padding: 10px 10px 10px 20px;
    list-style-type: @list-style-type;
}

.smart-list-item {
    display: list-item;
    padding: 5px;
    margin-bottom: 5px;
}