@ab-background-color: #93A5F5;
@back-background-color: #FFFFFF;
@body-background-color: #FFFFFF;
@item-odd-background-color: #F2F2F2;
@item-even-background-color:  #92A8D1;
@row-odd-background-color:  #F2F2F2;
@row-even-background-color: #92A8D1;
@teiHeader-background-color: #FFFFFF;

@abbr-text-color: #FF0000;
@add-text-color: #0000FF;
@app-text-color: #7B68EE;
@corr-text-color: #A9A9A9;
@damage-text-color: #008000;
@date-text-color: #FFA500;
@default-text-color: #000000;
@expan-text-color: #A9A9A9;
@foreign-text-color: #FFD700;
@measure-text-color: #FF1493;
@num-text-color: #9A8100;
@orgName-text-color: #9400D3;
@origDate-text-color: #40E0D0;
@origPlace-text-color: #008000;
@persName-text-color: #0000FF;
@placeName-text-color: #00B300;
@sic-text-color: #FF00FF;
@term-text-color: #FF0000;
@time-text-color: #FF8800;
@unclear-text-color: #008080;