@ab-background-color: #93a5f5;
@body-background-color: #FFFFFF;
@item-odd-background-color: #92A8D1;
@item-even-background-color: #F2F2F2;
@row-odd-background-color: #92A8D1;
@row-even-background-color: #F2F2F2;
@teiHeader-background-color: #dfe3f7;

@abbr-text-color: #FF0000;
@add-text-color: #0000FF;
@app-text-color: #7B68EE;
@body-text-color: #000000;
@corr-text-color: #A9A9A9;
@damage-text-color: #008000;
@date-text-color: #FFA500;
@default-text-color: black;
@expan-text-color: #A9A9A9;
@foreign-text-color: #FFD700;
@measure-text-color: #FF1493;
@num-text-color: #FFD700;
@orgName-text-color: #9400D3;
@origDate-text-color: #40E0D0;
@origPlace-text-color: #008000;
@persName-text-color: #0000FF;
@placeName-text-color: #00FF00;
@sic-text-color: #FF00FF;
@term-text-color: #FF0000;
@time-text-color: #808080;
@unclear-text-color: #008080;