@ab-background-color: #FFB6C1;
@body-background-color: #FFFFFF;
@teiHeader-background-color: #FFB6C1;

@abbr-text-color: #FF0000;
@add-text-color: #0000FF;
@app-text-color: #7B68EE;
@body-text-color: #000000;
@corr-text-color: #A9A9A9;
@damage-text-color: #008000;
@date-text-color: #FFA500;
@expan-text-color: #A9A9A9;
@foreign-text-color: #FFD700;
@measure-text-color: #FF1493;
@num-text-color: #FFD700;
@orgName-text-color: #9400D3;
@origDate-text-color: #40E0D0;
@origPlace-text-color: #008000;
@persName-text-color: #0000FF;
@placeName-text-color: #00FF00;
@sic-text-color: #FF00FF;
@term-text-color: #FF0000;
@time-text-color: #808080;
@unclear-text-color: #008080;