date {
    color:#FFA500;
}

precision {}

time {
    color:#808080;
}

measure,
measureGrp {
    color:#FF1493;
}

num {
    color:#FFD700;
}

persName {
    color:#0000FF;
}

placeName {
    color:#00FF00;
}

orgName {
    color:#9400D3;
}

term {
    color:#FF0000;
}