fileDesc {}

publicationStmt {}

publicationStmt publisher {}

publicationStmt date {}

availability {}

licence {}

seriesStmt {
    display:block;
}

seriesStmt title {
     font-size:24px;
}

seriesStmt idno {}

titleStmt {
    display:block;
}

title {
    font-size:24px;
}

editor {}

sourceDesc {}

listWit {}

witness {}