@namespace xml "https://www.w3.org/TR/xml/";
@font-face {
  font-family: "LexiaFontes";
  src: url("fonts/Lexia/src/LexiaFontes_Rg.ttf");
}
@font-face {
  font-family: "LibertinusSerif";
  src: url("fonts/Lexia/src/LibertinusSerif-Regular.otf");
}
* {
  font-family: LexiaFontes, LibertinusSerif;
  color: black;
  background-color: white;
}
.bordered {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 6px;
}
.margin-block {
  display: block;
  margin: 12px;
}
.additional-text {
  font-style: italic;
}
.additional-heading {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
.smart-list-item {
  display: list-item;
  padding: 6px;
}
.superscript {
  vertical-align: text-top;
  font-size: 75%;
  font-weight: bold;
}
.additional-superscript {
  font-style: italic;
  vertical-align: text-top;
  font-size: 75%;
  font-weight: bold;
}
ab {
  display: block;
  margin: 12px;
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 6px;
}
ab::before {
  content: "ab [" attr(type) ", " attr(place) "]:\A";
}
/* background colors */
/* major blocks */
/* list items and table rows */
/* text colors */
/* entities */
/* semantically relevant content */
/* textcritical content */
/* other special parts of the text*/
abbr {
  color: #ff0000;
}
add {
  color: #ff0000;
}
additional {
  display: block;
}
addSpan {
  content: "[";
  color: #ff0000;
}
adminInfo {
  display: block;
}
altIdentifier {
  display: inline;
}
anchor {
  content: "]";
}
anchor[xml|id^="add"] {
  color: #ff0000;
}
anchor[xml|id^="del"] {
  color: #ff0000;
}
anchor[xml|id^="damage"] {
  color: #ff0000;
}
app {
  display: inline;
  color: #ff0000;
  counter-increment: app-counter;
}
app::before {
  content: "app-";
  font-style: italic;
  vertical-align: text-top;
  font-size: 75%;
  font-weight: bold;
}
app::after {
  content: "-app";
  font-style: italic;
  vertical-align: text-top;
  font-size: 75%;
  font-weight: bold;
}
author {
  display: block;
}
TEI[xml|lang='de'] author::before {
  content: "Autor: ";
  font-style: italic;
}
TEI[xml|lang='fr'] author::before {
  content: "Auteur : ";
  font-style: italic;
}
back {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 6px;
  color: #000000;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 12px;
}
TEI[xml|lang="de"] back::before {
  content: "Kommentarbereich";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
TEI[xml|lang="fr"] back::before {
  content: "Zone des commentaires";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
bibl[xml|id]::after {
  content: " [xml:id = " attr("xml|id") "]";
}
listBibl bibl {
  display: list-item;
  padding: 6px;
}
listBibl bibl:nth-of-type(even) {
  background-color: #dddddd;
}
listBibl bibl:nth-of-type(odd) {
  background-color: #eeeeee;
}
bindingDesc {
  display: block;
  margin: 12px;
}
TEI[xml|lang="de"] bindingDesc::before {
  content: "Angaben zur Bindung";
  font-style: italic;
}
TEI[xml|lang="fr"] bindingDesc::before {
  content: "Informations sur la reliure";
  font-style: italic;
}
body {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 6px;
  color: #000000;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 12px;
}
TEI[xml|lang="de"] body::before {
  content: "Textbereich";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
TEI[xml|lang="fr"] body::before {
  content: "Zone du texte";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
TEI[xml|lang="de"] cb {
  content: "\A // [Spalte: " attr(n) "] ";
}
TEI[xml|lang="fr"] cb {
  content: "\A // [Colonne : " attr(n) "] ";
}
cell {
  display: table-cell;
  min-width: 15%;
  max-width: 75%;
  padding: 6px;
  border-right: 1px solid black;
}
cell[role='label'] {
  font-weight: bold;
  font-size: 16px;
}
cell[rend='align-bottom'] {
  vertical-align: bottom;
}
cell:last-of-type {
  border-right: none;
}
choice {
  display: contents;
}
condition {
  content: " (" attr(agent) ")";
  display: block;
}
TEI[xml|lang="de"] condition::before {
  content: "Angaben zur Beschädigung";
  font-style: italic;
}
TEI[xml|lang="fr"] condition::before {
  content: "Informations sur les dommages";
  font-style: italic;
}
corr {
  color: #ff0000;
}
corr::after {
  content: " [corr]";
}
custEvent {
  display: block;
  margin: 12px;
}
custodialHist {
  display: block;
  margin: 12px;
}
TEI[xml|lang="de"] custodialHist::before {
  content: "Angaben zur Aufbewahrungsgeschichte";
  font-style: italic;
}
TEI[xml|lang="fr"] custodialHist::before {
  content: "Informations sur l'histoire de la conservation";
  font-style: italic;
}
damage {
  color: #ff0000;
}
damageSpan {
  content: "[";
  color: #ff0000;
}
date {
  color: #ffa500;
}
publicationStmt date {
  color: #000000;
  display: block;
  margin: 12px;
}
TEI[xml|lang='de'] publicationStmt date[type='electronic'] {
  content: "Publikationsdatum (elektronisch): " attr(when-custom);
  font-style: italic;
}
TEI[xml|lang='fr'] publicationStmt date[type='electronic'] {
  content: "Date de publication (électronique) : " attr(when-custom);
  font-style: italic;
}
TEI[xml|lang='de'] publicationStmt date[type='print'] {
  content: "Publikationsdatum (Druck): " attr(when-custom);
  font-style: italic;
}
TEI[xml|lang='fr'] publicationStmt date[type='print'] {
  content: "Date de publication (imprimé) : " attr(when-custom);
  font-style: italic;
}
date[dur-iso]:hover::after {
  content: " (dur-iso: " attr(dur-iso) ")";
}
date[period]:hover::after {
  content: " (period: " attr(period) ")";
}
date[dur-iso][period]:hover::after {
  content: " (dur-iso: " attr(dur-iso) ", period:" attr(period) ")";
}
date[when-custom]:hover::after {
  content: " (when-custom: " attr(when-custom) " " attr(calendar) ")";
}
date[from-custom]:hover::after {
  content: " (from-custom: " attr(from-custom) ", to-custom: " attr(to-custom) " " attr(calendar) ")";
}
date[notBefore-custom]:hover::after {
  content: " (notBefore-custom: " attr(notBefore-custom) " " attr(calendar) ")";
}
date[notAfter-custom]:hover::after {
  content: " (notAfter-custom: " attr(notAfter-custom) " " attr(calendar) ")";
}
date[notAfter-custom][notBefore-custom]:hover::after {
  content: " (notBefore-custom: " attr(notBefore-custom) " & notAfter-custom: " attr(notAfter-custom) " " attr(calendar) ")";
}
del {
  color: #ff0000;
  text-decoration: line-through;
}
delSpan {
  content: "[";
  color: #ff0000;
}
dimensions {
  display: block;
  margin: 12px;
}
TEI[xml|lang="de"] dimensions[type="leaves"]::before {
  content: "Mass der Blätter: ";
  font-style: italic;
}
TEI[xml|lang="fr"] dimensions[type="leaves"]::before {
  content: "Dimensions des feuilles : ";
  font-style: italic;
}
TEI[xml|lang="de"] dimensions[type="plica"]::before {
  content: "Mass der Plica: ";
  font-style: italic;
}
TEI[xml|lang="fr"] dimensions[type="plica"]::before {
  content: "Dimensions de la Plica : ";
  font-style: italic;
}
div {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 6px;
  display: block;
  margin: 12px;
  padding: 12px;
}
div[type]::before {
  content: "[div, " attr(type) "]";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
div[n]::before {
  content: "[div, " attr(n) "]";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
div[type][n]::before {
  content: "[div, " attr(type) ", " attr(n) "]";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
docImprint {
  display: block;
  margin: 12px;
}
editor {
  display: block;
  margin: 12px;
}
TEI[xml|lang='de'] editor::before {
  content: "Herausgeber: ";
  font-style: italic;
}
TEI[xml|lang='fr'] editor::before {
  content: "Éditeur : ";
  font-style: italic;
}
editiorialDecl {
  display: block;
  margin: 12px;
}
TEI[xml|lang="de"] editorialDecl::before {
  content: "Angaben zu den Editionsrichtlinien";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
TEI[xml|lang="fr"] editorialDecl::before {
  content: "Informations sur les directives d'édition";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
encodingDesc {
  display: block;
  margin: 12px;
  padding: 12px;
  border-bottom: 1px solid black;
}
expan {
  color: #ff0000;
}
expan::before {
  content: "[= ";
}
expan::after {
  content: "]";
}
extent {
  display: block;
}
figure {
  content: "[figure: " attr(type) "]";
}
figure[hand] {
  content: "[figure: " attr(type) " " attr(hand) "]";
}
figure[place] {
  content: "[figure: " attr(type) " " attr(place) "]";
}
figure[hand][place] {
  content: "[figure: " attr(type) " " attr(hand) " " attr(place) "]";
}
fileDesc {
  display: block;
  margin: 12px;
  border-bottom: 1px solid black;
}
foliation {
  display: block;
}
foreign {
  color: #808000;
}
fw {
  color: #808000;
}
gap {
  content: " [...] ";
  color: #ff0000;
}
graphic {
  content: attr(url, url);
  max-width: 75%;
  max-height: 75%;
}
handDesc {
  display: block;
  margin: 12px;
}
TEI[xml|lang="de"] handDesc::before {
  content: "Angaben zu den Händen";
  font-style: italic;
}
TEI[xml|lang="fr"] handDesc::before {
  content: "Informations sur les mains";
  font-style: italic;
}
handNote {
  content: attr("xml|id");
  display: block;
  margin: 12px;
}
handShift {
  content: "[" attr(hand) "]";
  font-style: italic;
  color: #ff0000;
}
head {
  display: block;
  font-size: 20px;
  font-weight: bold;
}
head[n]::before {
  content: attr(n) ". ";
}
head[resp]::before {
  content: "[";
}
head[n][resp]::before {
  content: "[" attr(n) ". ";
}
head[resp]::after {
  content: "]";
}
msDesc head {
  margin-bottom: 10px;
}
list head {
  margin: 0px 0px 10px -24px;
}
table head {
  display: table-caption;
  margin-bottom: 10px;
}
height {
  content: attr(quantity) " " attr(unit);
  display: block;
  margin: 12px;
}
TEI[xml|lang="de"] height::before {
  content: "Höhe: ";
  font-style: italic;
}
TEI[xml|lang="fr"] height::before {
  content: "Hauteur : ";
  font-style: italic;
}
hi {
  display: inline;
}
hi[rend="center"] {
  text-align: center;
  width: 100%;
}
hi[rend="font_change"] {
  font-family: Monospaced;
}
hi[rend="framed"] {
  display: inline-block;
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 6px;
}
hi[rend="italic"] {
  font-style: italic;
}
hi[rend="left"] {
  text-align: left;
  width: 100%;
}
hi[rend="right"] {
  text-align: right;
  width: 100%;
}
hi[rend="outdent"] {
  text-indent: -12px;
  margin-left: 12px;
}
hi[rend="rotated_90"]:hover::after {
  content: " (rotated 90°) ";
}
hi[rend="rotated_180"]:hover::after {
  content: " (rotated 180°) ";
}
hi[rend="rotated_270"]:hover::after {
  content: " (rotated 270°) ";
}
hi[rend="rubricated"] {
  color: red;
}
hi[rend="sup"] {
  vertical-align: text-top;
  font-size: 75%;
  font-weight: bold;
}
hi[rend="underline"] {
  text-decoration: underline;
}
history {
  display: block;
}
idno {
  display: block;
  margin: 12px;
}
seriesStmt idno::before {
  content: "IDNO ";
  font-style: italic;
}
seriesStmt idno[type='uuid']::before {
  content: "IDNO (UUID) ";
  font-style: italic;
}
TEI[xml|lang='de'] msIdentifier idno::before {
  content: "Signatur: ";
  font-style: italic;
}
TEI[xml|lang='fr'] msIdentifier idno::before {
  content: "Signature : ";
  font-style: italic;
}
TEI[xml|lang='de'] altIdentifier idno::before {
  content: "Alte Signatur: ";
  font-style: italic;
}
TEI[xml|lang='fr'] altIdentifier idno::before {
  content: "Signature ancienne : ";
  font-style: italic;
}
msIdentifier idno[source]:hover::after,
altIdentifier idno[source]:hover::after {
  content: " (" attr(source) ")";
  -oxy-link: attr(source);
}
item {
  display: list-item;
  padding: 6px;
}
item:nth-of-type(even) {
  background-color: #dddddd;
}
item:nth-of-type(odd) {
  background-color: #eeeeee;
}
keywords {
  display: block;
  margin: 12px;
  padding: 12px 12px 12px 24px;
  list-style-type: none;
}
label {
  color: #808000;
}
lb::before {
  content: "/\A";
}
lb[break="no"]::before {
  content: "-/\A" !important;
}
head lb::before {
  content: " / ";
}
lb:first-of-type::before {
  content: oxy_xpath("if (string-join(preceding-sibling::text()) => normalize-space() => string-length() > 0) then '/\A' else ''");
}
lem {
  text-decoration: underline;
}
licence {
  display: block;
  margin: 12px;
}
TEI[xml|lang='de'] licence::before {
  content: "Lizenz: ";
  font-style: italic;
}
TEI[xml|lang='fr'] licence::before {
  content: "Licence : ";
  font-style: italic;
}
list {
  display: block;
  margin: 12px;
  padding: 12px 12px 12px 24px;
  list-style-type: none;
}
list[rend='bulleted'] {
  display: block;
  margin: 12px;
  padding: 12px 12px 12px 24px;
  list-style-type: "disc";
}
list[rend='numbered'] {
  display: block;
  margin: 12px;
  padding: 12px 12px 12px 24px;
  list-style-type: "decimal";
}
listBibl {
  display: block;
  margin: 12px;
  padding: 12px 12px 12px 24px;
  list-style-type: none;
}
TEI[xml|lang="de"] additional listBibl::before {
  content: "Literaturliste (" attr(type) ")";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
TEI[xml|lang="fr"] additional listBibl::before {
  content: "Liste de littérature (" attr(type) ")";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
listWit {
  display: block;
  margin: 12px;
}
material {
  content: attr(type);
  display: block;
  margin: 12px;
}
TEI[xml|lang="de"] material::before {
  content: "Material: ";
  font-style: italic;
}
TEI[xml|lang="fr"] material::before {
  content: "Matériel : ";
  font-style: italic;
}
measure {
  color: #ffa500;
}
measure:hover::after {
  content: " (" attr(quantity) " " attr(unit) ", type: " attr(type) ")";
}
measure[origin]:hover::after {
  content: " (" attr(quantity) " " attr(unit) ", type: " attr(type) ", origin: " attr(origin) ")";
}
measure[commodity]:hover::after {
  content: " (" attr(quantity) " " attr(unit) ", type: " attr(type) ", commodity: " attr(commodity) ")";
}
measure[origin][commodity]:hover::after {
  content: " (" attr(quantity) " " attr(unit) ", type: " attr(type) ", origin: " attr(origin) ", commodity: " attr(commodity) ")";
}
measureGrp {
  display: inline;
}
row > measureGrp {
  display: table-row;
}
msContents {
  display: block;
}
TEI[xml|lang='de'] msContents::before {
  content: "Inhalt des Textzeugen";
  font-style: italic;
}
TEI[xml|lang='fr'] msContents::before {
  content: "Contenu du témoin textuel";
  font-style: italic;
}
msDesc {
  display: block;
  margin: 12px;
}
TEI[xml|lang='de'] msDesc::before {
  content: "Textzeugenbeschreibung";
  font-style: italic;
}
TEI[xml|lang='fr'] msDesc::before {
  content: "Description du témoin textuel";
  font-style: italic;
}
msIdentifier {
  display: block;
  margin: 12px;
}
TEI[xml|lang='de'] msIdentifier::before {
  content: "Angaben zum Textzeugen";
  font-style: italic;
}
TEI[xml|lang='fr'] msIdentifier::before {
  content: "Informations du témoin textuel";
  font-style: italic;
}
msItem {
  display: block;
  margin: 12px;
}
note {
  color: #ff0000;
  font-style: italic;
}
num {
  color: #ffa500;
}
num:hover::after {
  content: " (value: " attr(value) ")";
}
objectDesc {
  display: block;
}
orgName {
  color: #800080;
}
TEI[xml|lang="de"] orgName[ref]:hover::after {
  content: oxy_xpath("transform(map{'stylesheet-location': '${frameworkDir}/xsl/entity_infos.xsl', 'initial-function': QName('http://ssrq-sds-fds.ch/xsl/oxyframework/functions/info', 'create-entity-info'), 'function-params': [., 'de']})?output");
  -oxy-link: "https://p.ssrq-sds-fds.ch/" oxy_xpath("substring(./@ref, 1, 9)");
  font-style: italic;
}
TEI[xml|lang="fr"] orgName[ref]:hover::after {
  content: oxy_xpath("transform(map{'stylesheet-location': '${frameworkDir}/xsl/entity_infos.xsl', 'initial-function': QName('http://ssrq-sds-fds.ch/xsl/oxyframework/functions/info', 'create-entity-info'), 'function-params': [., 'fr']})?output");
  -oxy-link: "https://p.ssrq-sds-fds.ch/" oxy_xpath("substring(./@ref, 1, 9)");
  font-style: italic;
}
origin orgName {
  display: block;
  margin: 12px;
}
origin orgName:hover::before {
  content: "Organisation (" attr(ref) ") ";
  font-style: italic;
}
origin orgName[role]:hover::before {
  content: "Organisation (" attr(ref) ") (" attr(role) ") ";
  font-style: italic;
}
orig {
  color: #808000;
}
orig::before {
  content: "«";
}
orig::after {
  content: "»";
}
origDate {
  display: block;
  margin: 12px;
  color: #ffa500;
}
TEI[xml|lang="de"] origDate[when-custom]::before {
  content: "Datierung (" attr(type) ") " attr(when-custom) " (" attr(calendar) ") ";
  font-style: italic;
}
TEI[xml|lang="fr"] origDate[when-custom]::before {
  content: "Datation (" attr(type) ") " attr(when-custom) " (" attr(calendar) ") ";
  font-style: italic;
}
TEI[xml|lang="de"] origDate[from-custom]::before {
  content: "Datierung (" attr(type) ") von " attr(from-custom) " bis " attr(to-custom) " (" attr(calendar) ") ";
  font-style: italic;
}
TEI[xml|lang="fr"] origDate[from-custom]::before {
  content: "Datation (" attr(type) ") de " attr(from-custom) " à " attr(to-custom) " (" attr(calendar) ") ";
  font-style: italic;
}
TEI[xml|lang="de"] origDate[notBefore-custom]::before {
  content: "Datierung (" attr(type) ") nicht vor " attr(notBefore-custom) " (" attr(calendar) ") ";
  font-style: italic;
}
TEI[xml|lang="fr"] origDate[notBefore-custom]::before {
  content: "Datation (" attr(type) ") pas avant " attr(notBefore-custom) " (" attr(calendar) ") ";
  font-style: italic;
}
TEI[xml|lang="de"] origDate[notAfter-custom]::before {
  content: "Datierung (" attr(type) ") nicht nach " attr(notAfter-custom) " (" attr(calendar) ") ";
  font-style: italic;
}
TEI[xml|lang="fr"] origDate[notAfter-cusom]::before {
  content: "Datation (" attr(type) ") pas après " attr(notAfter-custom) " (" attr(calendar) ") ";
  font-style: italic;
}
TEI[xml|lang="de"] origDate[notBefore-custom][notAfter-custom]::before {
  content: "Datierung (" attr(type) ") nicht vor " attr(notBefore-custom) " und nicht nach " attr(notAfter-custom) " (" attr(calendar) ") ";
  font-style: italic;
}
TEI[xml|lang="fr"] origDate[notBefore-custom][notAfter-cusom]::before {
  content: "Datation (" attr(type) ") pas avant " attr(notBefore-custom) " et pas après " attr(notAfter-custom) " (" attr(calendar) ") ";
  font-style: italic;
}
origin {
  display: block;
  margin: 12px;
}
TEI[xml|lang="de"] origin::before {
  content: "Angaben zur Herkunft";
  font-style: italic;
}
TEI[xml|lang="fr"] origin::before {
  content: "Informations sur l'origine";
  font-style: italic;
}
origPlace {
  display: block;
  margin: 12px;
  color: #008000;
}
TEI[xml|lang="de"] origPlace::before {
  content: "Ausstellungsort (" attr(type) ") (ID: " attr(ref) "; Standardname: " oxy_xpath("json-doc('https://staging.editio.ssrq-online.ch/api/v1/entities/places/' || substring(./@ref, 1, 9) || '/name?lang=de')") ") ";
  -oxy-link: "https://p.ssrq-sds-fds.ch/" oxy_xpath("substring(./@ref, 1, 9)");
  font-style: italic;
}
TEI[xml|lang="fr"] origPlace::before {
  content: "Lieu d'exposition (" attr(type) ") (ID : " attr(ref) "; Nom standard : " oxy_xpath("json-doc('https://staging.editio.ssrq-online.ch/api/v1/entities/places/' || substring(./@ref, 1, 9) || '/name?lang=fr')") ") ";
  -oxy-link: "https://p.ssrq-sds-fds.ch/" oxy_xpath("substring(./@ref, 1, 9)");
  font-style: italic;
}
TEI[xml|lang="de"] origPlace[cert]::before {
  content: "Ausstellungsort (" attr(type) ") (ID: " attr(ref) "; Standardname: " oxy_xpath("json-doc('https://staging.editio.ssrq-online.ch/api/v1/entities/places/' || substring(./@ref, 1, 9) || '/name?lang=de')") ") [" attr(cert) "] ";
  -oxy-link: "https://p.ssrq-sds-fds.ch/" oxy_xpath("substring(./@ref, 1, 9)");
  font-style: italic;
}
TEI[xml|lang="fr"] origPlace[cert]::before {
  content: "Lieu d'exposition (" attr(type) ") (ID : " attr(ref) "; Nom standard : " oxy_xpath("json-doc('https://staging.editio.ssrq-online.ch/api/v1/entities/places/' || substring(./@ref, 1, 9) || '/name?lang=fr')") ") [" attr(cert) "] ";
  -oxy-link: "https://p.ssrq-sds-fds.ch/" oxy_xpath("substring(./@ref, 1, 9)");
  font-style: italic;
}
p {
  display: block;
  margin: 12px;
}
p[n]::before {
  content: "[" attr(n) "]";
  margin-right: 6px;
}
pb {
  content: "\A // [" attr(n) "] ";
}
TEI[xml|lang="de"] pb[facs]:hover::after {
  content: "Faksimile «" attr(facs) "» öffnen";
  -oxy-link: "https://facsimiles.ssrq-sds-fds.ch/iiif/2/" attr(facs) ".ptif/full/full/0/default.jpg";
  font-style: italic;
}
TEI[xml|lang="fr"] pb[facs]:hover::after {
  content: "Ouvrez le fac-similé « " attr(facs) " »";
  -oxy-link: "https://facsimiles.ssrq-sds-fds.ch/iiif/2/" attr(facs) ".ptif/full/full/0/default.jpg";
  font-style: italic;
}
persName {
  color: #0000ff;
}
TEI[xml|lang="de"] persName[ref]:hover::after {
  content: oxy_xpath("transform(map{'stylesheet-location': '${frameworkDir}/xsl/entity_infos.xsl', 'initial-function': QName('http://ssrq-sds-fds.ch/xsl/oxyframework/functions/info', 'create-entity-info'), 'function-params': [., 'de']})?output");
  -oxy-link: "https://p.ssrq-sds-fds.ch/" oxy_xpath("substring(./@ref, 1, 9)");
  font-style: italic;
}
TEI[xml|lang="fr"] persName[ref]:hover::after {
  content: oxy_xpath("transform(map{'stylesheet-location': '${frameworkDir}/xsl/entity_infos.xsl', 'initial-function': QName('http://ssrq-sds-fds.ch/xsl/oxyframework/functions/info', 'create-entity-info'), 'function-params': [., 'fr']})?output");
  -oxy-link: "https://p.ssrq-sds-fds.ch/" oxy_xpath("substring(./@ref, 1, 9)");
  font-style: italic;
}
physDesc {
  display: block;
}
TEI[xml|lang="de"] physDesc::before {
  content: "Physische Beschreibung des Textzeugen";
  font-style: italic;
}
TEI[xml|lang="fr"] physDesc::before {
  content: "Description physique du témoin textuel";
  font-style: italic;
}
placeName {
  color: #008000;
}
TEI[xml|lang="de"] placeName[ref]:hover::after {
  content: oxy_xpath("transform(map{'stylesheet-location': '${frameworkDir}/xsl/entity_infos.xsl', 'initial-function': QName('http://ssrq-sds-fds.ch/xsl/oxyframework/functions/info', 'create-entity-info'), 'function-params': [., 'de']})?output");
  -oxy-link: "https://p.ssrq-sds-fds.ch/" oxy_xpath("substring(./@ref, 1, 9)");
  font-style: italic;
}
TEI[xml|lang="fr"] placeName[ref]:hover::after {
  content: oxy_xpath("transform(map{'stylesheet-location': '${frameworkDir}/xsl/entity_infos.xsl', 'initial-function': QName('http://ssrq-sds-fds.ch/xsl/oxyframework/functions/info', 'create-entity-info'), 'function-params': [., 'fr']})?output");
  -oxy-link: "https://p.ssrq-sds-fds.ch/" oxy_xpath("substring(./@ref, 1, 9)");
  font-style: italic;
}
precision {
  content: "";
}
precision:hover::after {
  content: "(precision: " attr(match) " = " attr(precision) ")";
}
profileDesc {
  display: block;
  margin: 12px;
}
publicationStmt {
  display: block;
  margin: 12px;
  border-bottom: 1px solid black;
}
TEI[xml|lang='de'] publicationStmt::before {
  content: "Angaben zur Veröffentlichung";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
TEI[xml|lang='fr'] publicationStmt::before {
  content: "Informations sur la publication";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
publicationStmt publisher {
  display: block;
  margin: 12px;
}
pubPlace {
  color: #008000;
}
TEI[xml|lang="de"] pubPlace[ref]:hover::after {
  content: " (ID: " attr(ref) "; Standardname: " oxy_xpath("json-doc('https://staging.editio.ssrq-online.ch/api/v1/entities/places/' || substring(./@ref, 1, 9) || '/name?lang=de')") ")";
  -oxy-link: "https://p.ssrq-sds-fds.ch/" oxy_xpath("substring(./@ref, 1, 9)");
}
TEI[xml|lang="fr"] pubPlace[ref]:hover::after {
  content: " (ID : " attr(ref) "; Nom standard : " oxy_xpath("json-doc('https://staging.editio.ssrq-online.ch/api/v1/entities/places/' || substring(./@ref, 1, 9) || '/name?lang=fr')") ")";
  -oxy-link: "https://p.ssrq-sds-fds.ch/" oxy_xpath("substring(./@ref, 1, 9)");
}
q {
  color: #808000;
}
q::before {
  content: "«";
}
q::after {
  content: "»";
}
quote {
  color: #808000;
}
quote::before {
  content: "«";
}
quote::after {
  content: "»";
}
rdg::before {
  content: "[";
}
rdg::after {
  content: "]";
}
ref {
  display: inline;
}
ref[target]:hover::after {
  content: " (" attr(target) ")";
}
ref[target^="http"]:hover::after {
  content: " (" attr(target) ")";
  -oxy-link: attr(target);
}
editorialDecl ref {
  content: attr(target);
}
repository {
  display: block;
  margin: 12px;
}
TEI[xml|lang='de'] repository::before {
  content: "Archiv: ";
  font-style: italic;
}
TEI[xml|lang='fr'] repository::before {
  content: "Archive : ";
  font-style: italic;
}
resp {
  display: inline-block;
  margin-left: 12px;
}
respStmt {
  display: block;
  margin: 12px;
}
TEI[xml|lang='de'] respStmt::before {
  content: "Verantwortlich: ";
  font-style: italic;
}
TEI[xml|lang='fr'] respStmt::before {
  content: "Responsable : ";
  font-style: italic;
}
row {
  display: table-row;
}
row:has(> measureGrp) {
  display: table-row-group;
}
row:nth-of-type(even) {
  background-color: #dddddd;
}
row:nth-of-type(odd) {
  background-color: #eeeeee;
}
seal {
  display: block;
  margin: 12px;
}
TEI[xml|lang="de"] seal {
  content: attr(n) ": Erhaltungszustand (" attr(condition) "), Befestigung (" attr(attachment) "), " "Form (" attr(shape) "), Material (" attr(material) "), Ort (" attr(place) "), " "Faksimile (" attr(facs) ")";
  font-style: italic;
}
TEI[xml|lang="fr"] seal {
  content: attr(n) " : état de conservation (" attr(condition) "), fixation (" attr(attachment) "), " "forme (" attr(shape) "), matériau (" attr(material) "), lieux (" attr(place) "), " "facsimilé (" attr(facs) ")";
  font-style: italic;
}
sealDesc {
  display: block;
  margin: 12px;
}
TEI[xml|lang="de"] sealDesc::before {
  content: "Angaben zu den Siegeln";
  font-style: italic;
}
TEI[xml|lang="fr"] sealDesc::before {
  content: "Informations sur les sceaux";
  font-style: italic;
}
seg {
  display: block;
  margin: 12px;
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 6px;
}
seg[n]::before {
  content: "[" attr(n) "]";
  margin-right: 6px;
}
seriesStmt {
  display: block;
  margin: 12px;
  border-bottom: 1px solid black;
}
TEI[xml|lang='de'] seriesStmt::before {
  content: "Angaben zur Reihe";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
TEI[xml|lang='fr'] seriesStmt::before {
  content: "Informations sur la série";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
settlement {
  display: block;
  margin: 12px;
}
TEI[xml|lang='de'] settlement::before {
  content: "Archivstandort: ";
  font-style: italic;
}
TEI[xml|lang='fr'] settlement::before {
  content: "Localisation d'archive : ";
  font-style: italic;
}
sic {
  color: #ff0000;
}
sic::after {
  content: " [sic]";
}
signed {
  display: block;
  margin: 12px;
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 6px;
}
signed::before {
  content: "signed\A";
}
sourceDesc {
  display: block;
  margin: 12px;
}
TEI[xml|lang='de'] sourceDesc::before {
  content: "Quellenbeschreibung";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
TEI[xml|lang='fr'] sourceDesc::before {
  content: "Description de la source";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
space {
  content: "...";
  color: #ff0000;
}
subst::before {
  color: #ff0000;
  content: "*";
  vertical-align: text-top;
  font-size: 75%;
  font-weight: bold;
}
subst::after {
  color: #ff0000;
  content: "*";
  vertical-align: text-top;
  font-size: 75%;
  font-weight: bold;
}
summary {
  display: block;
}
supplied {
  color: #ff0000;
}
supplied::before {
  color: #ff0000;
  content: "[";
}
supplied::after {
  color: #ff0000;
  content: "] ";
}
support {
  display: block;
}
supportDesc {
  display: block;
  margin: 12px;
}
table {
  display: table;
  border: 1px solid black;
  border-collapse: collapse;
  margin: 12px 12px 24px 12px;
}
TEI {
  display: block;
  margin: 10px;
  font-family: "Lexia Fontes, Libertinus Serif";
  font-size: 16px;
}
teiHeader {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 6px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
teiHeader::before {
  content: "teiHeader";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  margin-left: 12px;
}
term {
  color: #ff00ff;
}
TEI[xml|lang="de"] term[ref]:hover::after {
  content: oxy_xpath("transform(map{'stylesheet-location': '${frameworkDir}/xsl/entity_infos.xsl', 'initial-function': QName('http://ssrq-sds-fds.ch/xsl/oxyframework/functions/info', 'create-entity-info'), 'function-params': [., 'de']})?output");
  -oxy-link: "https://p.ssrq-sds-fds.ch/" oxy_xpath("substring(./@ref, 1, 9)");
  font-style: italic;
}
TEI[xml|lang="fr"] term[ref]:hover::after {
  content: oxy_xpath("transform(map{'stylesheet-location': '${frameworkDir}/xsl/entity_infos.xsl', 'initial-function': QName('http://ssrq-sds-fds.ch/xsl/oxyframework/functions/info', 'create-entity-info'), 'function-params': [., 'fr']})?output");
  -oxy-link: "https://p.ssrq-sds-fds.ch/" oxy_xpath("substring(./@ref, 1, 9)");
  font-style: italic;
}
keywords term {
  display: list-item;
  padding: 6px;
}
keywords term:nth-of-type(even) {
  background-color: #dddddd;
}
keywords term:nth-of-type(odd) {
  background-color: #eeeeee;
}
text {
  display: block;
}
textClass {
  display: block;
  margin: 12px;
}
TEI[xml|lang="de"] textClass::before {
  content: "Angaben zum Textprofil";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
TEI[xml|lang="fr"] textClass::before {
  content: "Informations sur le profil du texte";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
textLang {
  content: attr("xml|lang");
  display: block;
}
TEI[xml|lang='de'] textLang::before {
  content: "Sprache des Textes: ";
  font-style: italic;
}
TEI[xml|lang='fr'] textLang::before {
  content: "Langue du texte : ";
  font-style: italic;
}
time {
  color: #ffa500;
}
time[period]:hover::after {
  content: " (period: " attr(period) ")";
}
time[dur-iso]:hover::after {
  content: " (dur-iso: " attr(dur-iso) ")";
}
time[when-custom]:hover::after {
  content: " (when-custom: " attr(when-custom) ")";
}
time[from-custom]:hover::after {
  content: " (from-custom: " attr(from-custom) ", to-custom: " attr(to-custom) ")";
}
time[notBefore-custom]:hover::after {
  content: " (notBefore-custom: " attr(notBefore-custom) ")";
}
time[notAfter-custom]:hover::after {
  content: " (notAfter-custom: " attr(notAfter-custom) ")";
}
title {
  display: block;
  font-size: 20px;
  width: 90%;
  margin: 12px;
}
titleStmt {
  display: block;
  margin: 12px;
  border-bottom: 1px solid black;
}
TEI[xml|lang='de'] titleStmt::before {
  content: "Angaben zum Band";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
TEI[xml|lang='fr'] titleStmt::before {
  content: "Informations du volume";
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
unclear {
  color: #ff0000;
}
width {
  content: attr(quantity) " " attr(unit);
  display: block;
  margin: 12px;
}
TEI[xml|lang="de"] width::before {
  content: "Breite: ";
  font-style: italic;
}
TEI[xml|lang="fr"] width::before {
  content: "Largeur : ";
  font-style: italic;
}
witness {
  display: block;
  margin: 12px;
}
