@namespace xml "https://www.w3.org/TR/xml/";
.bordered {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px;
}
.margin-block {
  display: block;
  margin: 10px;
}
.additional-text {
  font-style: italic;
}
.additional-heading {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
ab {
  background-color: #93a5f5;
  display: block;
  margin: 10px;
  width: 90%;
}
ab:before {
  content: "Anonymer Block [" attr(type) ", " attr(place) "]:\A";
}
abbr {
  color: #ff0000;
}
add {
  color: #0000ff;
}
additional {
  display: block;
}
altIdentifier {
  display: inline;
}
app {
  color: #7b68ee;
}
author {
  display: block;
}
TEI[xml|lang='de'] author:before {
  content: "Autor: ";
  font-style: italic;
}
TEI[xml|lang='fr'] author:before {
  content: "Auteur : ";
  font-style: italic;
}
bindingDesc {
  display: block;
  margin: 10px;
}
body {
  color: #000000;
  background-color: #ffffff;
  font-family: "Lexia Fontes";
  font-size: 16px;
}
cell {
  display: table-cell;
  padding: 5px;
}
cell[role='label'] {
  font-weight: bold;
  font-size: 16px;
}
cell[rend='align-bottom'] {
  vertical-align: bottom;
}
condition {
  content: attr("agent");
  display: block;
}
TEI[xml|lang="de"] condition:before {
  content: "Beschädigung: ";
  font-style: italic;
}
TEI[xml|lang="fr"] condition:before {
  content: "Dommage : ";
  font-style: italic;
}
corr {
  color: #a9a9a9;
}
corr:before {
  content: " ";
}
damage {
  content: "[_] ";
  color: #008000;
}
date {
  color: #ffa500;
}
publicationStmt date {
  color: #000000;
  display: block;
  margin: 10px;
}
TEI[xml|lang='de'] publicationStmt date[type='electronic'] {
  content: "Publikationsdatum (elektronisch): " attr(when-custom);
  font-style: italic;
}
TEI[xml|lang='fr'] publicationStmt date[type='electronic'] {
  content: "Date de publication (électronique) : " attr(when-custom);
  font-style: italic;
}
TEI[xml|lang='de'] publicationStmt date[type='print'] {
  content: "Publikationsdatum (Druck): " attr(when-custom);
  font-style: italic;
}
TEI[xml|lang='fr'] publicationStmt date[type='print'] {
  content: "Date de publication (imprimé) : " attr(when-custom);
  font-style: italic;
}
del {
  text-decoration: line-through;
}
subst > del:after {
  content: " ";
}
delSpan {
  text-decoration: line-through;
}
dimensions {
  display: block;
  margin: 10px;
}
TEI[xml|lang="de"] dimensions[type="leaves"]:before {
  content: "Mass der Blätter: ";
  font-style: italic;
}
TEI[xml|lang="fr"] dimensions[type="leaves"]:before {
  content: "Dimensions des feuilles : ";
  font-style: italic;
}
TEI[xml|lang="de"] dimensions[type="plica"]:before {
  content: "Mass der Plica: ";
  font-style: italic;
}
TEI[xml|lang="fr"] dimensions[type="plica"]:before {
  content: "Dimensions de la Plica : ";
  font-style: italic;
}
div:before {
  content: "\n[" attr(n) "]";
}
editor {
  display: block;
  margin: 10px;
}
TEI[xml|lang='de'] editor:before {
  content: "Herausgeber: ";
  font-style: italic;
}
TEI[xml|lang='fr'] editor:before {
  content: "Éditeur : ";
  font-style: italic;
}
encodingDesc {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px;
  display: block;
  margin: 10px;
  background-color: #dfe3f7;
}
expan {
  color: #a9a9a9;
}
expan:before {
  content: " ";
}
extent {
  display: block;
}
fileDesc {
  display: block;
  margin: 10px;
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px;
  background-color: #dfe3f7;
}
foliation {
  display: block;
}
foreign {
  color: #ffd700;
}
gap {
  content: "[...] ";
}
head {
  display: block;
  font-size: 16px;
  font-weight: bold;
}
head[resp]:before {
  content: "[";
}
head[resp]:after {
  content: "]";
}
msDesc head {
  margin-bottom: 10px;
}
table > head {
  display: table-caption;
}
height {
  content: attr(quantity) " " attr(unit);
  display: block;
  margin: 10px;
}
TEI[xml|lang="de"] height:before {
  content: "Höhe: ";
  font-style: italic;
}
TEI[xml|lang="fr"] height:before {
  content: "Hauteur : ";
  font-style: italic;
}
hi[rend="sup"] {
  vertical-align: super;
}
hi[rend="underline"] {
  text-decoration: underline;
}
idno {
  display: block;
  margin: 10px;
}
seriesStmt idno:before {
  content: "IDNO ";
  font-style: italic;
}
seriesStmt idno[type='uuid']:before {
  content: "IDNO (UUID) ";
  font-style: italic;
}
TEI[xml|lang='de'] msIdentifier idno:before {
  content: "Signatur: ";
  font-style: italic;
}
TEI[xml|lang='fr'] msIdentifier idno:before {
  content: "Signature : ";
  font-style: italic;
}
TEI[xml|lang='de'] altIdentifier idno:before {
  content: "Alternative Signatur: ";
  font-style: italic;
}
TEI[xml|lang='fr'] altIdentifier idno:before {
  content: "Signature alternative : ";
  font-style: italic;
}
item {
  display: list-item;
  padding: 0px;
  margin-bottom: 5px;
  width: 90%;
}
item:nth-child(even) {
  background-color: #f2f2f2;
}
item:nth-child(odd) {
  background-color: #92a8d1;
}
lb[break="no"]:before {
  content: "-/\n";
}
lb:before {
  content: "/\n";
}
lem:after {
  content: " ";
}
licence {
  display: block;
  margin: 10px;
}
TEI[xml|lang='de'] licence:before {
  content: "Lizenz: ";
  font-style: italic;
}
TEI[xml|lang='fr'] licence:before {
  content: "Licence : ";
  font-style: italic;
}
list {
  display: block;
  margin: 10px;
  padding: 10px;
  list-style-type: none;
  list-style-position: outside;
}
list[rend='bulleted'] {
  list-style-type: disc;
}
list[rend='numbered'] {
  list-style-type: decimal;
}
listWit {
  display: block;
  margin: 10px;
}
material {
  content: attr("type");
  display: block;
  margin: 10px;
}
TEI[xml|lang="de"] material:before {
  content: "Material: ";
  font-style: italic;
}
TEI[xml|lang="fr"] material:before {
  content: "Matériel : ";
  font-style: italic;
}
measure {
  color: #ff1493;
}
measureGrp {
  color: #ff1493;
}
msContents {
  display: block;
}
TEI[xml|lang='de'] msContents:before {
  content: "Inhalt des Textzeugen";
  font-style: italic;
}
TEI[xml|lang='fr'] msContents:before {
  content: "Contenu du témoin textuel";
  font-style: italic;
}
msDesc {
  display: block;
  margin: 10px;
}
TEI[xml|lang='de'] msDesc:before {
  content: "Textzeugenbeschreibung";
  font-style: italic;
}
TEI[xml|lang='fr'] msDesc:before {
  content: "Description du témoin textuel";
  font-style: italic;
}
msIdentifier {
  display: block;
  margin: 10px;
}
TEI[xml|lang='de'] msIdentifier:before {
  content: "Angaben zum Textzeugen";
  font-style: italic;
}
TEI[xml|lang='fr'] msIdentifier:before {
  content: "Informations du témoin textuel";
  font-style: italic;
}
msItem {
  display: block;
  margin: 10px;
}
num {
  color: #ffd700;
}
objectDesc {
  display: block;
}
orgName {
  color: #9400d3;
}
author orgName {
  color: #000000;
}
respStmt orgName {
  color: #000000;
}
orig:before {
  content: "«";
}
orig:after {
  content: "»";
}
origDate:before {
  color: #40e0d0;
  content: "Datierung: " attr(when) "";
}
origPlace:before {
  color: #008000;
  content: "Ausstellungsort: ";
}
p {
  display: block;
  margin: 10px;
}
pb {
  page-break-after: always;
  content: "\n//[" attr(n) "] ";
}
persName {
  color: #0000ff;
}
author persName {
  color: #000000;
}
editor persName {
  color: #000000;
}
respStmt persName {
  color: #000000;
}
physDesc {
  display: block;
}
TEI[xml|lang="de"] physDesc:before {
  content: "Physische Beschreibung des Textzeugen";
  font-style: italic;
}
TEI[xml|lang="fr"] physDesc:before {
  content: "Description physique du témoin textuel";
  font-style: italic;
}
placeName {
  color: #00ff00;
}
profileDesc {
  display: block;
  margin: 10px;
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px;
  background-color: #dfe3f7;
}
publicationStmt {
  display: block;
  margin: 10px;
  border-bottom: 1px solid black;
}
TEI[xml|lang='de'] publicationStmt:before {
  content: "Angaben zur Veröffentlichung";
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
TEI[xml|lang='fr'] publicationStmt:before {
  content: "Informations sur la publication";
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
publicationStmt publisher {
  display: block;
  margin: 10px;
}
q:before {
  content: "«";
}
q:after {
  content: "»";
}
quote:before {
  content: "«";
}
quote:after {
  content: "»";
}
rdg {
  font-style: italic;
}
rdg:after {
  content: " ";
}
repository {
  display: block;
  margin: 10px;
}
TEI[xml|lang='de'] repository:before {
  content: "Archiv: ";
  font-style: italic;
}
TEI[xml|lang='fr'] repository:before {
  content: "Archive : ";
  font-style: italic;
}
resp {
  display: inline-block;
  margin-left: 10px;
}
respStmt {
  display: block;
  margin: 10px;
}
TEI[xml|lang='de'] respStmt:before {
  content: "Verantwortlich: ";
  font-style: italic;
}
TEI[xml|lang='fr'] respStmt:before {
  content: "Responsable : ";
  font-style: italic;
}
row {
  display: table-row;
}
row:nth-child(even) {
  background-color: #f2f2f2;
}
row:nth-child(odd) {
  background-color: #92a8d1;
}
seal {
  display: block;
  border-style: solid;
  border-width: 1px;
}
seal:before {
  content: "Siegel " attr(n) ": " attr(material) ", " attr(condition) ", " attr(shape) ", " attr(attachment);
}
seg {
  display: block;
}
seg:before {
  content: "[" attr(n) "]";
}
seriesStmt {
  display: block;
  margin: 10px;
  border-bottom: 1px solid black;
}
TEI[xml|lang='de'] seriesStmt:before {
  content: "Angaben zur Reihe";
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
TEI[xml|lang='fr'] seriesStmt:before {
  content: "Informations sur la série";
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
settlement {
  display: block;
  margin: 10px;
}
TEI[xml|lang='de'] settlement:before {
  content: "Archivstandort: ";
  font-style: italic;
}
TEI[xml|lang='fr'] settlement:before {
  content: "Localisation d'archive : ";
  font-style: italic;
}
sic {
  color: #ff00ff;
}
sic:after {
  content: " [sic]";
}
signed {
  content: "\n";
}
sourceDesc {
  display: block;
  margin: 10px;
}
TEI[xml|lang='de'] sourceDesc:before {
  content: "Quellenbeschreibung";
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
TEI[xml|lang='fr'] sourceDesc:before {
  content: "Description de la source";
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
space {
  content: "..";
}
subst:before {
  content: "*";
}
subst:after {
  content: "*";
}
summary {
  display: block;
  margin: 10px;
}
supplied {
  font-weight: bold;
}
supplied:before {
  content: "[";
}
supplied:after {
  content: "] ";
}
support {
  display: block;
}
supportDesc {
  display: block;
  margin: 10px;
}
table {
  display: table;
  border: 1px solid black;
  margin: 10px;
}
TEI {
  display: block;
  margin: 10px;
}
teiHeader {
  margin-bottom: 12px;
}
term {
  color: #ff0000;
}
textLang {
  content: attr("xml|lang");
  display: block;
}
TEI[xml|lang='de'] textLang:before {
  content: "Sprache des Textes: ";
  font-style: italic;
}
TEI[xml|lang='fr'] textLang:before {
  content: "Langue du text : ";
  font-style: italic;
}
time {
  color: #808080;
}
title {
  display: block;
  font-size: 20px;
  width: 90%;
  margin: 10px;
}
titleStmt {
  display: block;
  margin: 10px;
  border-bottom: 1px solid black;
}
TEI[xml|lang='de'] titleStmt:before {
  content: "Angaben zum Band";
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
TEI[xml|lang='fr'] titleStmt:before {
  content: "Informations du volume";
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
unclear {
  color: #008080;
}
width {
  content: attr(quantity) " " attr(unit);
  display: block;
  margin: 10px;
}
TEI[xml|lang="de"] width:before {
  content: "Breite: ";
  font-style: italic;
}
TEI[xml|lang="fr"] width:before {
  content: "Largeur : ";
  font-style: italic;
}
witness {
  display: block;
  margin: 10px;
}
