@namespace xml "https://www.w3.org/TR/xml/";
.bordered {
  border: 1px solid black;
  border-collapse: collapse;
}
.margin-block {
  display: block;
  margin: 10px;
}
ab {
  background-color: #93a5f5;
  display: block;
  margin: 10px;
  width: 90%;
}
ab:before {
  content: "Anonymer Block [" attr(type) ", " attr(place) "]:\A";
}
abbr {
  color: #ff0000;
}
add {
  color: #0000ff;
}
additional {
  display: block;
}
altIdentifier {
  display: block;
}
app {
  color: #7b68ee;
}
body {
  color: #000000;
  background-color: #ffffff;
  font-family: "Lexia Fontes";
  font-size: 16px;
}
cell {
  display: table-cell;
  padding: 5px;
}
cell[role='label'] {
  font-weight: bold;
  font-size: 16px;
}
cell[rend='align-bottom'] {
  vertical-align: bottom;
}
corr {
  color: #a9a9a9;
}
corr:before {
  content: " ";
}
damage {
  content: "[_] ";
  color: #008000;
}
date {
  color: #ffa500;
}
publicationStmt date {
  color: #000000;
  display: block;
  margin: 10px;
}
TEI[xml|lang='de'] publicationStmt date[type='electronic'] {
  content: "Publikationsdatum (elektronisch): " attr(when-custom);
}
TEI[xml|lang='fr'] publicationStmt date[type='electronic'] {
  content: "Date de publication (électronique) : " attr(when-custom);
}
TEI[xml|lang='de'] publicationStmt date[type='print'] {
  content: "Publikationsdatum (Druck): " attr(when-custom);
}
TEI[xml|lang='fr'] publicationStmt date[type='print'] {
  content: "Date de publication (imprimé) : " attr(when-custom);
}
del {
  text-decoration: line-through;
}
subst > del:after {
  content: " ";
}
delSpan {
  text-decoration: line-through;
}
dimensions {
  display: block;
}
dimensions[type="leaves"]:before {
  content: "Blätter: ";
}
dimensions[type="plica"]:before {
  content: "Plica: ";
}
div:before {
  content: "\n[" attr(n) "]";
}
editor {
  display: block;
  margin: 10px;
}
TEI[xml|lang='de'] editor:before {
  content: "Herausgeber: ";
}
TEI[xml|lang='fr'] editor:before {
  content: "Éditeur : ";
}
encodingDesc {
  border: 1px solid black;
  border-collapse: collapse;
  display: block;
  margin: 10px;
}
expan {
  color: #a9a9a9;
}
expan:before {
  content: " ";
}
extent {
  border-style: solid;
  border-width: 1px;
}
extent:before {
  content: "Masse: ";
}
fileDesc {
  display: block;
  margin: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}
foreign {
  color: #ffd700;
}
gap {
  content: "[...] ";
}
head {
  display: block;
  font-size: 16px;
  font-weight: bold;
}
head[resp]:before {
  content: "[";
}
head[resp]:after {
  content: "]";
}
table > head {
  display: table-caption;
}
height:before {
  content: "Höhe: " attr(quantity) " " attr(unit);
}
hi[rend="sup"] {
  vertical-align: super;
}
hi[rend="underline"] {
  text-decoration: underline;
}
seriesStmt idno {
  display: block;
  margin: 10px;
}
seriesStmt idno:before {
  content: "IDNO ";
}
seriesStmt idno[type='uuid']:before {
  content: "IDNO (UUID) ";
}
item {
  display: list-item;
  padding: 0px;
  margin-bottom: 5px;
  width: 90%;
}
item:nth-child(even) {
  background-color: #f2f2f2;
}
item:nth-child(odd) {
  background-color: #92a8d1;
}
lb[break="no"]:before {
  content: "-/\n";
}
lb:before {
  content: "/\n";
}
lem:after {
  content: " ";
}
licence {
  display: block;
  margin: 10px;
}
TEI[xml|lang='de'] licence:before {
  content: "Lizenz: ";
}
TEI[xml|lang='fr'] licence:before {
  content: "Licence : ";
}
list {
  display: block;
  margin: 10px;
  padding: 10px;
  list-style-type: disc;
  list-style-position: outside;
}
list[rend='bulleted'] {
  list-style-type: disc;
}
list[rend='numbered'] {
  list-style-type: decimal;
}
material:before {
  content: "Material: ";
}
measure {
  color: #ff1493;
}
measureGrp {
  color: #ff1493;
}
num {
  color: #ffd700;
}
orgName {
  color: #9400d3;
}
respStmt orgName {
  color: #000000;
}
orig:before {
  content: "«";
}
orig:after {
  content: "»";
}
origDate:before {
  color: #40e0d0;
  content: "Datierung: " attr(when) "";
}
origPlace:before {
  color: #008000;
  content: "Ausstellungsort: ";
}
p {
  display: block;
  line-height: 115%;
  margin-left: 3em;
  margin-top: 0.75ex;
}
pb {
  page-break-after: always;
  content: "\n//[" attr(n) "] ";
}
persName {
  color: #0000ff;
}
editor persName {
  color: #000000;
}
respStmt persName {
  color: #000000;
}
placeName {
  color: #00ff00;
}
profileDesc {
  display: block;
  margin: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}
publicationStmt {
  display: block;
  margin: 10px;
  border-bottom: 1px solid black;
}
TEI[xml|lang='de'] publicationStmt:before {
  content: "Angaben zur Veröffentlichung:";
}
TEI[xml|lang='fr'] publicationStmt:before {
  content: "Informations sur la publication :";
}
publicationStmt publisher {
  display: block;
  margin: 10px;
}
q:before {
  content: "«";
}
q:after {
  content: "»";
}
quote:before {
  content: "«";
}
quote:after {
  content: "»";
}
rdg {
  font-style: italic;
}
rdg:after {
  content: " ";
}
resp {
  display: inline-block;
  margin-left: 10px;
}
respStmt {
  display: block;
  margin: 10px;
}
TEI[xml|lang='de'] respStmt:before {
  content: "Verantwortlich: ";
}
TEI[xml|lang='fr'] respStmt:before {
  content: "Responsable : ";
}
row {
  display: table-row;
}
row:nth-child(even) {
  background-color: #f2f2f2;
}
row:nth-child(odd) {
  background-color: #92a8d1;
}
seal {
  display: block;
  border-style: solid;
  border-width: 1px;
}
seal:before {
  content: "Siegel " attr(n) ": " attr(material) ", " attr(condition) ", " attr(shape) ", " attr(attachment);
}
seg {
  display: block;
}
seg:before {
  content: "[" attr(n) "]";
}
seriesStmt {
  display: block;
  margin: 10px;
  border-bottom: 1px solid black;
}
TEI[xml|lang='de'] seriesStmt:before {
  content: "Angaben zur Reihe:";
}
TEI[xml|lang='fr'] seriesStmt:before {
  content: "Informations sur la série :";
}
sic {
  color: #ff00ff;
}
sic:after {
  content: " [sic]";
}
signed {
  content: "\n";
}
sourceDesc {
  display: block;
  margin: 10px;
}
space {
  content: "..";
}
subst:before {
  content: "*";
}
subst:after {
  content: "*";
}
supplied {
  font-weight: bold;
}
supplied:before {
  content: "[";
}
supplied:after {
  content: "] ";
}
table {
  display: table;
  border: 1px solid black;
  margin: 10px;
}
TEI {
  display: block;
  margin: 10px;
}
teiHeader {
  display: block;
  margin: 10px;
  background-color: #dfe3f7;
}
term {
  color: #ff0000;
}
time {
  color: #808080;
}
title {
  display: block;
  font-size: 20px;
  width: 90%;
  margin: 10px;
}
titleStmt {
  display: block;
  margin: 10px;
  border-bottom: 1px solid black;
}
TEI[xml|lang='de'] titleStmt:before {
  content: "Angaben zum Band:";
}
TEI[xml|lang='fr'] titleStmt:before {
  content: "Informations du volume :";
}
unclear {
  color: #008080;
}
width:before {
  content: "[" attr(quantity) " " attr(unit) "]";
}
