foreign {
    color:#FFD700;
}

orig:before {
    content:"«";
}

orig:after {
    content:"»";
}

q:before {
    content:"«";
}

q:after {
    content:"»";
}

quote:before {
    content:"«";
}

quote:after {
    content:"»";
}

hi[rend = "sup"] { 
    vertical-align:super;
}
hi[rend = "underline"] {
    text-decoration:underline;
}

figure {}

graphic {}

pc {}

listBibl {}

bibl {}

ref {}

label {}

fw {}