body{
    color:#000000;
    background-color:#FFFFFF;
    font-family:"Lexia Fontes";
    font-size:16px;
}

div:before{
    content:"\A[" attr(n) "]"
}
seg:before{
    content:"\A[" attr(n) "]"
}

p{
    margin-left:3em;
    margin-top:0.75ex;
    display:block;
    line-height:115%;
}

ab{
    content:"[" attr(type) "] "
}

signed{
    content:"\A"
}

lb[break = "no"]:before{
    content:"-/\A";
}
lb:before{
    content:"/\A";
}
pb{
    page-break-after:always;
    content:"\A//[" attr(n) "] "
}
