table {
    display:block;
    border:1px solid black;
}

row:after {
    content:"\A";
}

cell {
    width:250px;
}

table > head:before {
    content:"";
}

table > head:after {
    content:"\A";
}

list {}

item {}