teiHeader{
    display:block;
    background-color:#FFB6C1;
}
titleStmt{
    display:block
}
title{
    font-size:24px
}
respStmt{
    display:block
}
seriesStmt{
    display:block
}
seal{
    display:block;
    border-style:solid;
    border-width:1px;
}
seal:before{
    content: "Siegel " attr(n) ": " attr(ssrq|material) ", " attr(ssrq|condition) ", " attr(ssrq|shape) ", " attr(ssrq|attachment)
}

material:before{
    content: "Material: "
}
extent{
    border-style:solid;
    border-width:1px;
}
extent:before{
    content: "Masse: ";
}
dimensions{
    display:block;
}
height:before{
    content:"Höhe: " attr(quantity) " " attr(unit)
}
dimensions[type="leaves"]:before{
    content:"Blätter: "
}
dimensions[type="plica"]:before{
    content:"Plica: "
}
width:before{
    content:"Breite: " attr(quantity) " " attr(unit)
}
teiHeader origDate:before{  /* nur im TEI-Header anzeigen */
    content: "Datierung: " attr(when) ""
}
teiHeader origPlace:before{  /* nur im TEI-Header anzeigen */
    content: "Ausstellungsort: "
}