choice {}

abbr {
    color:#FF0000;
}

expan {
    color:#A9A9A9;
}

expan:before {
    content:" ";
}

corr {
    color:#A9A9A9;
}

corr:before {
    content:" ";
}

sic {
    color:#FF00FF;
}

sic:after {
    content:" [sic]";
}

app {
    color:#7B68EE;
}

lem:after {
    content:" ";
}

rdg {
    font-style:italic;
}

rdg:after {
    content:" ";
}

add {
    color:#0000FF;
}

addSpan {}

del,
delSpan{
    text-decoration:line-through;
}

damage {
    content:"[_] ";
    color:#008000;
}

damageSpan {}

anchor {}

subst:before {
    content:"*";
}

subst:after {
    content:"*";
}

subst > del:after {
    content:" ";
}

supplied {
    font-weight:bold;
}

supplied:before {
    content:"[";
}

supplied:after {
    content:"] ";
}

unclear {
    color:#008080;
}

gap {
    content:"[...] ";
}

space {
    content:"..";
}

handShift {}

note {}